

body{
    background-color: #305050;
    color: white;
}
h2{
    color: orange;
}
.texto-ingles{
    color:aquamarine;
}
.texto-ingles{
    font-style: italic;
    font-weight: 900;
}
#nome-usuario{
    font-weight: bold;
}